//colors
$color_0: #8d919c;
$color_1: #f7f9fa;
$color_2: #22293d;
$color_3: #ffffff;
$color_4: #e10c1c;
$color_5: #c1c1c1;
$color_6: #dadadb;
$color_7: #cdcdcd;
$color_8: #bcbcbc;
$color_9: #e6e7e9;
$color_10: #dddddd;
$color_11: #eb949b;
$color_12: #dfe0e3;
$color_13: #e4e4e4;
$color_14: rgba(255, 255, 255, .08);
$color_15: rgba(36, 36, 36, 0.35);
$color_16: rgba(255, 255, 255, .1);
$color_17: #d8dbde;
$color_18: #9a9fae;
$color_19: #007bb5;
$color_20: #4e71a4;
$color_21: #42454d;
$color_22: #000000;
$color_23: rgba(31, 40, 67, .7);
$color_24: #e0e0e1;
$color_25: #e10c1b;

//fonts
$font_0: Titillium-Regular;
$font_1: Titillium-Semibold;
$font_2: Titillium-Regular !important;
$font_3: Titillium-Regular !important;
$font_4: Titillium-SemiBold;

//urls
$url_0: url(../fonts/Titillium-Regular.eot);
$url_1: url(../fonts/Titillium-Regular.woff);
$url_2: url(../fonts/Titillium-Semibold.eot);
$url_3: url(../fonts/Titillium-Semibold.woff);
$url_4: url(../images/icon.png);
$url_5: url(../images/icon2x.png);
$url_6: url(../img/contactBg.png);
$url_7: url(../img/signinBg.png);

body {
  cursor: default;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font_2;
  font-size: 14px;
  font-weight: normal;
  color: $color_0;
  background-color: $color_1;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  }

@font-face {
  font-family: $font_0;
  src: local("Titillium Regular"), $url_1 format('woff');
  }

@font-face {
  font-family: $font_1;
  src: local("Titillium Semibold"), $url_3 format('woff');
  }

.cBase {
  color: $color_0;
  }

.cDarkBlue {
  color: $color_2;
  }

.cWhite {
  color: $color_3;
  }

.cRed {
  color: $color_4;
  }

.bgLightGray {
  background-color: $color_1;
  }

.bgGray {
  background-color: $color_5;
  }

.title-18 {
  font-size: 18px;
  line-height: 20px;
  font-family: $font_1;
  }

.title-28 {
  font-size: 28px;
  line-height: 38px;
  font-family: $font_1;
  }

.width-50 {
  width: 50px;
  display: inline-block;
  }

.textUpp {
  text-transform: uppercase;
  }

.wOutShasow {
  box-shadow: none !important;
  }

.alignCenter {
  text-align: center;
  }

.alignLeft {
  text-align: left !important;
  }

.alignRight {
  text-align: right;
  }

.inlineBlock {
  display: inline-block !important;
  margin-right: 25px;
  .icon {
    margin-right: 7px;
    }
  }

a {
  color: $color_0;
  text-decoration: none;
  &:hover {
    color: $color_0;
    text-decoration: none;
    }
  &:active {
    color: $color_0;
    text-decoration: none;
    }
  &:focus {
    color: $color_0;
    text-decoration: none;
    }
  &.cWhite {
    &:hover {
      color: $color_3;
      }
    &:active {
      color: $color_3;
      }
    &:focus {
      color: $color_3;
      }
    }
  &.cRed {
    &:hover {
      color: $color_4;
      opacity: .75;
      }
    &:active {
      color: $color_4;
      opacity: .75;
      }
    &:focus {
      color: $color_4;
      opacity: .75;
      }
    }
  &.cDarkBlue {
    &:hover {
      color: $color_2;
      opacity: .75;
      }
    &:active {
      color: $color_2;
      opacity: .75;
      }
    &:focus {
      color: $color_2;
      opacity: .75;
      }
    }
  &.cBase {
    &:hover {
      color: $color_0;
      opacity: .75;
      }
    &:active {
      color: $color_0;
      opacity: .75;
      }
    &:focus {
      color: $color_0;
      opacity: .75;
      }
    }
  }

p {
  font-family: $font_0;
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 14px;
  color: $color_0;
  &:last-child {
    margin-bottom: 0;
    }
  }

ul {
  margin: 0;
  padding: 0;
  > li {
    list-style: none;
    line-height: 20px;
    padding-bottom: 8px;
    }
  }

.visibleMobile {
  display: none;
  }

.bgDarkBlue {
  background-color: $color_2;
  }

.bgRed {
  background-color: $color_4;
  }

.bgWhite {
  background-color: $color_3;
  }

@keyframes hoverLink {
  0% {
    margin-left: 10px;
    opacity: 1;
    }
  50% {
    margin-left: 0;
    opacity: .25;
    }
  100% {
    margin-left: 10px;
    opacity: 1;
    }
  }

.textDescription {
  font-family: $font_0;
  p {
    font-family: $font_0;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
      }
    }
  }

.numberCount {
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  top: -15px;
  left: 29px;
  width: 47px;
  height: 47px;
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    }
  }

.borderTop {
  border-top: 1px solid $color_6;
  padding-top: 30px;
  padding-bottom: 60px;
  }

.bTop {
  border-top: 1px solid $color_6;
  }

.pad-t-0 {
  padding-top: 0;
  }

.rightBlockBorder {
  border-radius: 5px;
  box-shadow: 0 1px 6px $color_7;
  margin: 3px 5px 5px;
  position: relative;
  overflow: hidden;
  &.hoverEff {
    transition: box-shadow .15s linear, transform .15s linear;
    transform: scale(1, 1);
    &:hover {
      box-shadow: 0 2px 16px $color_8;
      transition: box-shadow .15s linear, transform .15s linear;
      transform: scale(1.075);
      }
    }
  .leftImg {
    position: relative;
    width: 140px;
    height: 140px;
    .ratioSave {
      padding-bottom: 103%;
      }
    .button.circle {
      position: absolute;
      top: 0;
      right: -25px;
      bottom: 0;
      margin: auto;
      }
    }
  .rightDescription {
    padding: 0 10px 0 35px;
    .title {
      font-size: 18px;
      line-height: 24px;
      }
    .text {
      color: $color_0;
      }
    }
  &.company {
    .leftImg {
      width: 36%;
      border-right: 1px solid $color_6;
      .button.circle {
        width: 40px;
        height: 40px;
        right: -20px;
        }
      }
    .rightDescription {
      width: 64%;
      }
    }
  }

.blockBorder {
  border-radius: 6px;
  box-shadow: 0 1px 6px $color_7;
  .animate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    transition: top .25s ease-in-out, bottom .25s ease-in-out;
    }
  &:hover {
    .animate {
      top: -75px;
      bottom: 75px;
      transition: top .25s ease-in-out, bottom .25s ease-in-out;
      }
    .shortBlock {
      max-height: 250px;
      transition: max-height .35s ease-in-out;
      .datailBlock {
        border-top: 1px solid $color_6;
        }
      }
    }
  &.hoverEff {
    transition: box-shadow .15s linear, transform .15s linear;
    transform: scale(1, 1);
    &:hover {
      box-shadow: 0 2px 16px $color_8;
      transition: box-shadow .15s linear, transform .15s linear;
      transform: scale(1.075);
      }
    }
  }

.blockShadow {
  border-radius: 4px;
  box-shadow: 0 0 30px $color_9;
  position: relative;
  }

.shortBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100px;
  padding: 25px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: max-height .35s ease-in-out;
  .title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
  .datailBlock {
    border-top: none;
    margin-top: 10px;
    padding-top: 15px;
    }
  .button.circle {
    position: absolute;
    right: 30px;
    top: -25px;
    }
  }

.datailBlock {
  .text {
    margin-top: 10px;
    }
  .icon {
    margin-right: 10px;
    width: 12px;
    }
  }

.newsDescription {
  padding: 25px 29px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  }

.subHeaderBlock {
  text-align: center;
  .text {
    margin-bottom: 50px;
    }
  }

.subHeader {
  position: relative;
  text-align: center;
  font-family: $font_1;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
  padding: 0 90px;
  .seeMoreBlock {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: $font_0;
    font-size: 13px;
    cursor: pointer;
    margin-top: 4px;
    .arrowRightLargeRed {
      margin-left: 14px;
      }
    .arrowRightLargeGray {
      margin-left: 14px;
      }
    }
  }

.specialReadMore {
  width: 100px;
  a {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    .arrowRightLargeRed {
      margin-left: 60px !important;
      }
    }
  }

.mainPost {
  overflow: hidden;
  .blockBorder {
    margin: 3px 5px 5px;
    position: relative;
    overflow: hidden;
    }
  .postDescription {
    position: relative;
    padding: 30px 30px 160px 30px;
    .title {
      font-size: 22px;
      line-height: 30px;
      }
    .inlineData {
      margin-top: 20px;
      margin-bottom: 20px;
      }
    .socialHolder {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      padding-top: 27px;
      width: 92%;
      display: block;
      border-top: 1px solid $color_10;
      margin: 0 auto;
      overflow: hidden;
      .item .icon {
        top: 3px;
        }
      }
    }
  }

.clear {
  clear: both;
  }

.posA {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

.no-padd {
  padding: 0 !important;
  }

.no-mar {
  margin: 0 !important;
  }

.pad-l-r-0 {
  padding-left: 0;
  padding-right: 0;
  }

.pad-l-20 {
  padding-left: 20px;
  }

.pad-r-25 {
  padding-right: 25px;
  }

.pad-r-20 {
  padding-right: 20px;
  }

.mar-b-50 {
  margin-bottom: 50px;
  }

.mar-b-15 {
  margin-bottom: 15px;
  }

.mar-b-10 {
  margin-bottom: 10px;
  }

.mar-t-10 {
  margin-top: 10px;
  }

.mar-t-20 {
  margin-top: 20px;
  }

.fullWidth {
  width: 100%;
  }

.verticalAlign {
  display: table;
  width: 100%;
  height: 100%;
  .alignBottom {
    vertical-align: bottom;
    display: table-row;
    .cell {
      display: table-cell;
      vertical-align: inherit;
      }
    }
  .alignMiddle {
    vertical-align: middle;
    display: table-row;
    .cell {
      display: table-cell;
      vertical-align: inherit;
      }
    }
  .alignTop {
    vertical-align: top;
    display: table-row;
    .cell {
      display: table-cell;
      vertical-align: inherit;
      }
    }
  }

.croper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  > img {
    display: none !important;
    }
  }

.ratioSave {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
  .croper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      }
    }
  }

.topCarousel {
  .owl-nav {
    position: absolute;
    top: 55%;
    left: 0;
    max-width: 1170px;
    right: 0;
    min-height: 1px;
    margin: 0 auto;
    .owl-prev {
      margin-right: 15px;
      float: left;
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid $color_3;
      border-radius: 50%;
      background-color: transparent;
      &:hover {
        background-color: $color_3;
        .icon {
          border-color: transparent $color_22 transparent transparent;
          }
        }
      .icon {
        position: absolute;
        top: 0;
        right: 2px;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 6px 4px 0;
        border-color: transparent $color_0 transparent transparent;
        }
      }
    .owl-next {
      float: left;
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid $color_3;
      border-radius: 50%;
      background-color: transparent;
      &:hover {
        background-color: $color_3;
        .icon {
          border-color: transparent transparent transparent $color_22;
          }
        }
      .icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 2px;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $color_0;
        }
      }
    }
  .item .ratioSave {
    padding-bottom: 810px;
    }
  }

.eventCarousel {
  margin-top: 40px;
  .item .ratioSave {
    padding-bottom: 108.1%;
    }
  }

.grid {
  margin-top: 3.5%;
  margin: 0 38px;
  &.event {
    margin: 0;
    .gridItem {
      overflow: hidden;
      width: 32%;
      margin-bottom: 2%;
      .ratioSave {
        padding-bottom: 108.1%;
        }
      .item {
        overflow: hidden;
        .blockBorder {
          margin: 3px 5px 5px;
          position: relative;
          overflow: hidden;
          }
        }
      }
    .gutter-sizer {
      width: 2%;
      }
    .grid-sizer {
      overflow: hidden;
      width: 32%;
      }
    }
  .grid-sizer {
    width: 31%;
    }
  .gridItem {
    width: 31%;
    margin-bottom: 3.5%;
    position: relative;
    }
  .gutter-sizer {
    width: 3.5%;
    }
  &.asideRight {
    margin: 0;
    .gutter-sizer {
      width: 0;
      }
    .grid-sizer {
      width: 100%;
      }
    .gridItem {
      width: 100%;
      margin-bottom: 5%;
      }
    }
  }

.newsCarousel {
  margin-top: 40px;
  .owl-item {
    .bgDarkBlueOpacity {
      z-index: 1;
      background-color: $color_23;
      }
    &.active.center .bgDarkBlueOpacity {
      background-color: transparent;
      z-index: 0;
      }
    }
  .item .ratioSave {
    padding-bottom: 47.37%;
    }
  }

.menuUserProfile {
  display: block;
  float: right;
  margin-top: -10px;
  position: relative;
  .userImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    .ratioSave {
      padding-bottom: 100%;
      }
    }
  .notificationBlock {
    padding-left: 70px;
    }
  .menuMessage {
    margin-top: 10px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 10px;
      width: 1px;
      background-color: $color_16;
      margin: auto;
      }
    }
  .bellBlock {
    margin-top: 10px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 10px;
      width: 1px;
      background-color: $color_16;
      margin: auto;
      }
    }
  }

.memberCarousel {
  margin-top: 40px;
  .owl-nav {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    min-height: 1px;
    .owl-prev {
      float: left;
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid $color_3;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: -45px;
      float: left;
      &:hover {
        background-color: $color_3;
        .icon {
          border-color: transparent $color_22 transparent transparent;
          }
        }
      .icon {
        position: absolute;
        top: 0;
        right: 2px;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 6px 4px 0;
        border-color: transparent $color_0 transparent transparent;
        }
      }
    .owl-next {
      float: left;
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid $color_3;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 0;
      right: -45px;
      float: left;
      &:hover {
        background-color: $color_3;
        .icon {
          border-color: transparent transparent transparent $color_22;
          }
        }
      .icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 2px;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $color_0;
        }
      }
    }
  .item .ratioSave {
    padding-bottom: 60%;
    }
  .owl-stage-outer .owl-stage {
    margin: 0 auto;
    }
  }

.crm-register-button {
  position: absolute;
  top: 30px;
  right: 30px;
  &:hover {
    color: $color_3;
    }
  }

.crm-register-button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  box-shadow: 0 0 6px $color_5 !important;
  }

.button {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $font_0;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.25s;
  transition-property: transform;
  &.big {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: none;
    }
  &.small {
    font-size: 11px;
    line-height: 20px;
    padding: 5px 23px 5px 24px;
    border-radius: 15px;
    box-shadow: 0 0 6px $color_11;
    .icon {
      margin-left: 10px;
      background-position: -47px -51px;
      width: 5px;
      height: 8px;
      display: inline-block;
      background: $url_4 no-repeat;
      }
    &.back .icon {
      margin-right: 10px;
      margin-left: 0;
      background-position: -39px -51px;
      width: 5px;
      height: 8px;
      display: inline-block;
      background: $url_4 no-repeat;
      }
    }
  &.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px $color_11;
    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 14px;
      height: 14px;
      font-size: 24px;
      line-height: 8px;
      margin: auto;
      color: $color_3;
      }
    }
  }

input[type="submit"] {
  font-size: 13px;
  line-height: 20px;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: none;
  }

.animateBtn {
  &:hover {
    transform: translateY(-5px);
    }
  &:active {
    transform: perspective(1px) translateZ(0);
    }
  }

.page-numbers {
  position: relative;
  margin: 10px 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid $color_0;
  color: $color_0;
  font-size: 14px;
  line-height: 28px;
  font-family: $font_0;
  &.current {
    background-color: $color_4;
    color: $color_3;
    border: none;
    }
  &:hover {
    background-color: $color_4;
    color: $color_3;
    border: none;
    }
  &.next {
    color: transparent;
    &:after {
      display: inline-block;
      background: $url_4 no-repeat;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-position: -21px -52px;
      width: 6px;
      height: 7px;
      }
    &:hover:after {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -29px -52px;
      width: 6px;
      height: 7px;
      }
    }
  &.prev {
    color: transparent;
    &:after {
      display: inline-block;
      background: $url_4 no-repeat;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-position: -22px -65px;
      width: 5px;
      height: 7px;
      }
    &:hover:after {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -30px -65px;
      width: 5px;
      height: 7px;
      }
    }
  }

.navbar-nav {
  > li {
    display: inline-block;
    > a:hover {
      background-color: $color_16;
      color: $color_3 !important;
      }
    }
  .dropdown-button {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    }
  }

.formBlock {
  position: relative;
  width: 100%;
  input[type="submit"] {
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.25s;
    transition-property: transform;
    margin-top: 10px;
    background-color: $color_4;
    box-shadow: none !important;
    color: $color_3;
    }
  }

.inputBlock {
  position: relative;
  .subTtl {
    padding-left: 20px;
    display: block;
    margin-bottom: 5px;
    }
  .arrowRightSmall {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    }
  }

.inputLine {
  margin-bottom: 30px;
  .inputBlock {
    width: 50%;
    float: left;
    &:nth-child(1) {
      padding-right: 15px;
      }
    &:nth-child(2) {
      padding-left: 15px;
      }
    }
  &.w-300 {
    position: relative;
    width: 300px;
    margin: 40px auto;
    .icon-search {
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      margin: auto;
      }
    }
  &.w-100 .inputBlock {
    width: 100%;
    float: none;
    padding: 0;
    }
  }

.inputSignUpHolder {
  margin-top: 15px;
  .inputBlock {
    margin-bottom: 30px;
    }
  }

select {
  padding: 0 20px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 14px;
  border: none;
  color: $color_2;
  outline: none;
  box-shadow: 0 0 5px $color_12;
  background-color: $color_3;
  color: $color_2;
  option {
    color: $color_2;
    }
  &:invalid {
    color: $color_0;
    }
  option[value=""] {
    color: $color_0;
    }
  }

input {
  padding: 0 20px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 14px;
  border: none;
  color: $color_2;
  outline: none;
  box-shadow: 0 0 5px $color_12;
  background-color: $color_3;
  &:focus {
    box-shadow: 0 0 5px $color_13 inset;
    }
  }

input[type="file"] {
  box-shadow: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  background: transparent;
  }

input[type="number"] {
  }

textarea {
  display: block;
  padding: 15px 21px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  height: 140px;
  width: 100%;
  font-size: 14px;
  border: none;
  color: $color_2;
  outline: none;
  resize: none;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px $color_12;
  }

*::-webkit-input-placeholder {
  color: $color_0;
  font-family: $font_0;
  opacity: 1;
  }

*::-moz-placeholder {
  color: $color_0;
  font-family: $font_0;
  opacity: 1;
  }

.checkboxButton {
  position: relative;
  input {
    opacity: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    }
  .checkboxLabel {
    font-weight: normal;
    margin: 0;
    padding-left: 30px;
    .checkInput {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      background: $color_3;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 2px;
      border: 1px solid $color_6;
      outline: none;
      }
    }
  input[type="checkbox"]:checked + label .checkInput:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-position: -124px -2px;
    width: 15px;
    height: 12px;
    display: inline-block;
    background: $url_4 no-repeat;
    }
  }

.logo {
  position: relative;
  width: 151px;
  height: 73px;
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      width: 151px;
      height: 73px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: width .25s linear, height .25s linear, margin-right .25s linear, margin-left .25s linear;
      }
    }
  }

.instagramIcon {
  cursor: pointer;
  background-position: -20px -1px;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: $url_4 no-repeat;
  }

.linkedinIcon {
  cursor: pointer;
  background-position: -52px -1px;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: $url_4 no-repeat;
  }

.iconTime {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -1px -18px;
  width: 12px;
  height: 11px;
  }

.iconLocation {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -16px -18px;
  width: 9px;
  height: 12px;
  }

.item {
  &.inst:hover {
    color: $color_4;
    .instagramIcon {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -36px -1px;
      width: 14px;
      height: 14px;
      }
    }
  &.linked:hover {
    color: $color_19;
    .linkedinIcon {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -68px -1px;
      width: 14px;
      height: 14px;
      }
    }
  &.face:hover {
    color: $color_20;
    .facebookIcon {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -97px -1px;
      width: 7px;
      height: 14px;
      }
    }
  }

.facebookIcon {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -86px -1px;
  width: 7px;
  height: 14px;
  margin-left: 3px;
  }

.arrowRightSmall {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -108px -1px;
  width: 12px;
  height: 13px;
  }

.arrowRightLargeRed {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -1px -3px;
  width: 16px;
  height: 10px;
  }

.arrowRightLargeGray {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -28px -19px;
  width: 16px;
  height: 9px;
  }

.iconLocationGray {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -48px -18px;
  width: 9px;
  height: 14px;
  vertical-align: sub;
  margin-right: 7px;
  }

.arrowRightLargeWhite {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -61px -19px;
  width: 15px;
  height: 10px;
  }

.arrowRightLargeBlack {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -82px -20px;
  width: 15px;
  height: 9px;
  margin-left: 10px;
  }

.calendarIcon {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -1px -34px;
  width: 12px;
  height: 11px;
  }

.letterIcon {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -18px -34px;
  width: 17px;
  height: 13px;
  vertical-align: middle;
  margin-top: -2px;
  position: relative;
  }

.bellIcon {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -40px -34px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: -2px;
  }

.modal-header {
  padding: 0;
  border-bottom: 1px solid $color_24;
  position: relative;
  .close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    opacity: 1;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    margin: 0;
    float: none;
    line-height: 0;
    z-index: 100;
    .closeButton {
      display: inline-block;
      background: $url_4 no-repeat;
      background-position: -75px -32px;
      width: 16px;
      height: 17px;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(0deg);
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: transform .2s ease;
      &:hover {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(180deg);
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: transform .2s ease;
        }
      }
    }
  .headerTitle {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
    }
  }

.loguot {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -2px -48px;
  width: 16px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
  }

.icon-search {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -25px -51px;
  width: 16px;
  height: 16px;
  }

@media only screen and(-webkit-min-device-pixel-ratio: 2) and(min-width: 320px), only screen and(min--moz-device-pixel-ratio: 2) and(min-width: 320px), only screen and(-o-min-device-pixel-ratio: 2/1) and(min-width: 320px), only screen and(min-device-pixel-ratio: 2) and(min-width: 320px), only screen and(min-resolution: 192dpi) and(min-width: 320px), only screen and(min-resolution: 2dppx) and(min-width: 320px) {
  .iconTime {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .iconLocation {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .instagramIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .item {
    &.inst:hover .instagramIcon {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    &.linked:hover .linkedinIcon {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    &.face:hover .facebookIcon {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    }
  .linkedinIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .facebookIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .arrowRightSmall {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .arrowRightLargeRed {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .arrowRightLargeGray {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .iconLocationGray {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .arrowRightLargeWhite {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .arrowRightLargeBlack {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .calendarIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .letterIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .bellIcon {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .loguot {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .page-numbers {
    &.next {
      &:after {
        background: $url_5 no-repeat;
        background-size: 250px;
        }
      &:hover:after {
        background: $url_5 no-repeat;
        background-size: 250px;
        }
      }
    &.prev {
      &:after {
        background: $url_5 no-repeat;
        background-size: 250px;
        }
      &:hover:after {
        background: $url_5 no-repeat;
        background-size: 250px;
        }
      }
    }
  .icon-search {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .uploadImage .icon {
    background: $url_5 no-repeat;
    background-size: 250px;
    &.bgwhite {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    }
  .checkboxButton input[type="checkbox"]:checked + label .checkInput:after {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .modal-header .close .closeButton {
    background: $url_5 no-repeat;
    background-size: 250px;
    }
  .button.small {
    .icon {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    &.back .icon {
      background: $url_5 no-repeat;
      background-size: 250px;
      }
    }
  }

@media(max-width: 767px) {
  .modal-header .close .closeButton {
    background-position: -58px -35px;
    width: 11px;
    height: 11px;
    }
  }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background-color: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .25s linear;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(0);
  .topMenu {
    position: relative;
    .menuPadd {
      position: relative;
      padding: 13px 0;
      border-bottom: 1px solid $color_14;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: padding .25s linear;
      }
    }
  &.menuBg {
    background-color: $color_2;
    .menuPadd {
      padding: 0;
      border-bottom: none;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: padding .25s linear;
      }
    .logo {
      svg {
        width: 105px;
        height: 51px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width .25s linear, height .25s linear, margin-right .25s linear, margin-left .25s linear;
        }
      img {
        width: 105px;
        height: 51px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: width .25s linear, height .25s linear, margin-right .25s linear, margin-left .25s linear;
        }
      }
    }
  }

.dropdown-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  &.active {
    display: block;
    z-index: 10;
    }
  }

.dropdown-top-menu {
  opacity: 0;
  position: relative;
  float: left;
  width: 100%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: scale(0.75);
  //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
  transform-origin: 50% 0 0;
  pointer-events: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  .icon-triangle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    z-index: 100;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent $color_3;
    }
  .pos-menu {
    position: absolute;
    right: 0;
    top: 10px;
    width: 320px;
    z-index: 0;
    cursor: pointer;
    margin-top: 8px;
    text-align: left;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $color_15 0 3px 30px;
    background-color: $color_3;
    overflow: hidden;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 6px;
    }
  .topSection {
    padding: 20px;
    border-bottom: 1px solid $color_6;
    }
  .leftImg {
    width: 90px;
    height: 90px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    overflow: hidden;
    }
  .rightShortText {
    text-align: left;
    padding-left: 15px;
    .name {
      font-size: 18px;
      line-height: 20px;
      }
    .email {
      font-family: $font_0;
      }
    }
  &.active {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    position: relative;
    z-index: 1000;
    }
  }

.bottomWExit {
  padding: 10px 20px 15px;
  text-align: left;
  .LogOut {
    text-transform: uppercase;
    font-family: $font_3;
    }
  }

.redCount {
  width: 20px;
  height: 20px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  background-color: $color_4;
  position: absolute;
  top: -12px;
  right: -12px;
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    color: $color_3;
    }
  }

.backHeader {
  margin-top: 100px;
  padding: 20px 0;
  z-index: 11;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 5px $color_17;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: top .25s linear;
  &.active {
    top: 73px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: top .25s linear;
    }
  }

.mainMenuMobile {
  display: none;
  position: absolute;
  top: 0;
  left: 18px;
  bottom: 0;
  margin: auto;
  color: transparent;
  background: transparent;
  z-index: 100;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotate(0deg);
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .75s ease-in-out;
  cursor: pointer;
  .burgerLine {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $color_18;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    opacity: 1;
    left: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .75s ease-in-out;
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: left center;
    }
  &:before {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $color_18;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    opacity: 1;
    left: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .75s ease-in-out;
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: left center;
    content: '';
    top: 0;
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: left center;
    }
  &:after {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $color_18;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    opacity: 1;
    left: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: .75s ease-in-out;
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: left center;
    content: '';
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: left center;
    }
  }

.navUp {
  top: -175px;
  }

.mainMenuDesktop {
  padding: 25px 0;
  text-align: right;
  .itemMenu {
    color: $color_18;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    padding: 7px 21px;
    background-color: transparent;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    &:hover {
      background-color: $color_16;
      color: $color_3 !important;
      }
    &:active {
      background-color: $color_16;
      color: $color_3 !important;
      }
    &.active {
      background-color: $color_16;
      color: $color_3 !important;
      }
    &.sep:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 10px;
      width: 1px;
      background-color: $color_16;
      margin: auto;
      }
    }
  .button {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    padding: 7px 21px;
    line-height: 16px;
    }
  }

footer {
  padding-top: 90px;
  padding-bottom: 80px;
  .title {
    font-size: 18px;
    color: $color_2;
    margin-bottom: 10px;
    font-family: $font_4;
    }
  .text {
    line-height: 28px;
    }
  .inputBlock {
    margin-top: 10px;
    }
  .line {
    position: relative;
    &:after {
      content: '';
      border-right: 1px solid $color_6;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      }
    }
  }

.copyRight {
  padding: 30px 0;
  color: $color_21;
  text-align: center;
  position: relative;
  &:before {
    content: '';
    border-top: 1px solid $color_6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    margin: 0 auto;
    }
  }

.owl-dots {
  display: block;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  min-height: 1px;
  .owl-dot {
    display: inline-block;
    padding: 5px 0;
    span {
      display: block;
      width: 30px;
      height: 3px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 1px;
      background-color: $color_6;
      margin: 0 4px;
      }
    &.active span {
      background-color: $color_4;
      }
    }
  }

.topCarouselText {
  padding-top: 310px;
  .title {
    font-size: 48px;
    line-height: 60px;
    }
  .subTitle {
    font-size: 22px;
    line-height: 36px;
    }
  }

.reviewsCarousel {
  margin-top: 40px;
  }

.bgDarkBlueOpacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_23;
  }

.parralaxTop {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: top 1.5s linear;
  }

.parallax {
  position: relative;
  padding-top: 0;
  z-index: -1;
  }

.dgaggableHolder {
  position: relative;
  z-index: 10;
  margin-top: -1px;
  }

.simpleParallax {
  position: relative;
  padding-top: 75px;
  padding-bottom: 95px;
  text-align: center;
  overflow: hidden;
  .subHeaderBlock {
    .text {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
      color: $color_0;
      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $color_0;
        }
      }
    .link {
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer;
      .arrowRightLargeWhite {
        margin-left: 10px;
        }
      }
    }
  }

.contactParallax {
  position: relative;
  padding: 80px 0 60px;
  overflow: hidden;
  background-image: $url_6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.signUpParallax {
  position: relative;
  padding: 80px 0 60px;
  overflow: hidden;
  background-image: $url_7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.microloansParallax {
  position: relative;
  padding: 80px 0 100px;
  }

.modal-backdrop {
  height: 100% !important;
  }

.modal {
  height: 100% !important;
  .modal-dialog {
    margin-top: 60px;
    width: 570px;
    }
  &.modalLogin .modal-body {
    margin: 0 105px;
    }
  &.modalEditProfile .modal-dialog {
    width: 1030px;
    }
  &.modalProfile .modal-dialog {
    width: 1030px;
    }
  }

.modal-content {
  padding: 30px;
  background-color: $color_1;
  }

.modal-body {
  padding: 30px 0;
  .inputLine:last-child {
    margin-bottom: 0;
    }
  }

.modal-footer {
  padding: 30px 0 0;
  .inputLine:last-child {
    margin-bottom: 0;
    }
  }

.formForgotPass {
  display: none;
  &.active {
    display: block;
    }
  }

.paginatorMiddle {
  text-align: center;
  margin-bottom: 40px;
  }

.full-item-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }

.block-box {
  display: block;
  }

.btn-holder {
  text-align: center;
  margin-top: 20px;
  &.mar-t-30 {
    margin-top: 30px;
    }
  }

.show-hide-past-event {
  max-height: 1070px;
  overflow: hidden;
  &.active {
    max-height: 100%;
    }
  }

.show-hide-future-event {
  max-height: 1070px;
  overflow: hidden;
  &.active {
    max-height: 100%;
    }
  }

.tabs-holder {
  text-align: center;
  margin: 70px auto 40px auto;
  a {
    font-size: 13px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 20px;
    display: inline-block;
    padding: 7px 20px;
    &.active {
      background-color: $color_25;
      color: $color_3;
      }
    }
  }

.allMemberHolder {
  position: relative;
  padding: 45px 0 50px;
  .tabs-holder a.active {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 14px $color_11;
    }
  }

.listOfItem {
  position: relative;
  width: 100%;
  .rItem {
    display: block;
    float: left;
    width: 22.75%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: $color_3;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 6px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 6px $color_7;
    &:nth-child(4n) {
      margin-right: 0;
      }
    .img-holder {
      height: 190px;
      padding: 25px;
      text-align: center;
      position: relative;
      border-bottom: 1px solid $color_7;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 200px;
        max-height: 125px;
        height: auto;
        margin: auto;
        display: block;
        width: auto;
        }
      }
    .description {
      text-align: center;
      padding: 20px 20px 40px 20px;
      height: 170px;
      line-height: 20px;
      .rTitle {
        color: $color_2;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
        }
      }
    }
  }

.text p {
  font-family: $font_0;
  }

.agentsBlock.blockBorder {
  padding: 30px;
  }

.mainPostCompany .blockBorder {
  margin: 3px 5px 5px;
  position: relative;
  overflow: hidden;
  }

.mainPostCompanyText .blockBorder {
  margin: 3px 5px 5px;
  position: relative;
  overflow: hidden;
  }

.opacityCarousel.ratioSave {
  padding-bottom: 810px;
  }

.bgImage .ratioSave {
  padding-bottom: 810px;
  }

.reviewsBlock .ratioSave {
  padding-bottom: 510px;
  }

.userImg .ratioSave {
  padding-bottom: 100% !important;
  }

.circleImg .ratioSave {
  padding-bottom: 100%;
  }

.imageAgent .ratioSave {
  padding-bottom: 100%;
  }

.itemPos .ratioSave {
  padding-bottom: 89.189%;
  }

.postImage .ratioSave {
  padding-bottom: 55.405%;
  }

.leftImg .ratioSave {
  padding-bottom: 100%;
  padding-bottom: 100%;
  }

.memberBussines .blockBorder .ratioSave {
  padding-bottom: 59.45%;
  }

.imageUser .ratioSave {
  padding-bottom: 100%;
  }

.user-box .user-avatar .ratioSave {
  padding-bottom: 100%;
  }

.profileBlock .leftInfo .ratioSave {
  padding-bottom: 86.05%;
  }

.logoCompanyBlock .ratioSave {
  padding-bottom: 96%;
  }

*:-ms-input-placeholder {
  color: $color_0;
  font-family: $font_0;
  opacity: 1;
  }

.uploadImage .icon {
  display: inline-block;
  background: $url_4 no-repeat;
  background-position: -105px -19px;
  width: 38px;
  height: 33px;
  &.bgwhite {
    display: inline-block;
    background: $url_4 no-repeat;
    background-position: -147px -18px;
    width: 38px;
    height: 33px;
    }
  }

.nav > li.user-box {
  width: 40px;
  height: 40px;
  padding-bottom: 0;
  margin-top: -10px;
  float: right;
  }

.header.navUp .dropdown-top-menu {
  display: none;
  }

li.current-menu-item > a {
  background-color: $color_16;
  color: $color_3 !important;
  }

.socialHolder .item {
  position: relative;
  display: block;
  cursor: pointer;
  color: $color_0;
  .icon {
    position: absolute;
    left: 0;
    top: 7px;
    }
  .text {
    padding-left: 26px;
    }
  }

.gridItem .blockBorder {
  padding: 20px 20px 25px 20px;
  text-align: center;
  .circleImg {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    overflow: hidden;
    }
  .title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    }
  .text {
    height: 44px;
    max-height: 44px;
    overflow: hidden;
    }
  .contactInfo {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid $color_6;
    .lineInfo span {
      color: $color_0;
      }
    }
  }

.modalEditProfile .modal-body {
  padding-top: 15px;
  .inputSignUpHolder {
    margin-top: 0;
    .inputBlock {
      margin-bottom: 15px;
      }
    }
  .signUpBottom {
    margin-top: 35px;
    }
  }

.lwa-submit-button .button {
  width: auto;
  }

#eventFutureCarousel .owl-dots {
  display: block !important;
  }

.hoverWhite:hover {
  color: $color_3 !important;
  }

.resultList .lItem {
  position: relative;
  width: 100%;
  .lTitle {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin-bottom: 25px;
    &:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      left: 100px;
      padding-left: 100px;
      height: 1px;
      background: $color_6;
      }
    }
  }